<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://172.20.120.56/sj/ZaijiaMerchant-v1.8-b38-Debug-2015-10-27_03-43-07/ZaijiaMerchant.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.example.com/image.57×57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.example.com/image.512×512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.smallstep.ZaijiaMerchant</string>
				<key>bundle-version</key>
				<string>1.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>在家点点商家版</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
